/* Write your CSS here */
.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-title {
  color: #fff;
  font-family: 'Bree serif';
  font-size: 35px;
}

@media (min-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }

  .not-found-title {
    font-size: 50px;
  }
}
