/* Write your CSS here */
.match-card {
  width: 48%;
  color: #fff;
  background: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 10px 10px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.match-card-logo {
  width: 100px;
  height: 120px;
}

.match-card-name {
  font-size: 20px;
}

.match-card-info {
  font-size: 15px;
}

.won {
  color: #18ed66;
}

.lost {
  color: #e31a1a;
}

@media (max-width: 575px) {
  .match-card-logo {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .match-card {
    width: 30%;
    padding: 15px;
  }

  .match-card-name {
    font-size: 24px;
  }

  .match-card-info {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .match-card {
    padding: 20px;
  }

  .match-card-logo {
    width: 150px;
    height: 170px;
  }
}
