/* Write your CSS here */
.rcb {
  background-image: linear-gradient(#a4261d, #1e293b);
}

.kkr {
  background-image: linear-gradient(#5755a7,  #1e293b);
}

.kxp {
  background-image: linear-gradient(#d91c1f,  #1e293b);
}
.csk {
  background-image: linear-gradient(#f7db00,  #1e293b);
}
.rr {
  background-image: linear-gradient(#da237b,  #1e293b);
}

.mi {
  background-image: linear-gradient(#13418b,  #1e293b);
}

.sh {
  background-image: linear-gradient(#f26d22,  #1e293b);
}

.dc {
  background-image: linear-gradient(#4f5db0,  #1e293b);
}

.team-matches-details-loader-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Bree Serif';
}

.team-matches-details-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-banner {
  width: 100%;
}

@media (min-width: 768px) {
  .team-matches-details-container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .team-matches-details-container {
    width: 70%;
  }
}

.match-cards-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
